
@keyframes ticker {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 30px;
  border-top: 2px solid #000;
}

.ticker-wrap.severe {
  background-color: rgba(85, 0, 0, 0.9);
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
}

.ticker__item {
  display: none;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 0.2s;
}

.ticker__item.active {
  display: inline-block;
}

.ticker__rundown {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #FFF;
  z-index: 100;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  background: #333;
  width: 100%;
  padding: 0px 10px;
}
.ticker__rundown .rundown__item {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}
.ticker__rundown .rundown__item.active {
  background-color: #FFF;
  color: #000;
}

.severe .ticker__rundown {
  background-color: #800;
}

body {
  padding-bottom: 5rem;
}

h1, h2, p {
  padding: 0 5%;
}
